<md-toolbar color="primary">
  <span><a style="text-decoration: none; color: white;" routerLink="/"> {{ title }}</a></span>
</md-toolbar>
<!--The content below is only a placeholder and can be replaced.-->
<div class="flex-container">
  <div id="content" class="content-flex">
    <router-outlet></router-outlet>
  </div>
  <div id="side-nav" class="side-nav-flex">
    <md-nav-list>

      <a md-list-item routerLink="/repo/{{ tech }}" *ngFor="let tech of technologies" class="side-nav-item">
        <i mdListIcon class="{{ techIcons[tech] }}"></i> &nbsp;
        {{ tech }}</a>
    </md-nav-list>
  </div>
</div>

